    <!--====== BREADCRUMB SECTION START ======-->
    <section class="breadcrumb-section" style="background-image: url(assets/img/breadcrumb.jpg);">
      <div class="container">
          <div class="breadcrumb-text">
              <h1>Shop Detail</h1>
              <p>Your Partner for Medical Cannabis</p>
          </div>
          <ul class="breadcrumb-nav">
              <li><a href="#">Home</a></li>
              <li>Shop-Detail</li>
          </ul>
          <span class="btg-text">cannaweed</span>
      </div>
      <div class="breadcrumb-shape">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
              <path d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z">
              </path>
          </svg>
      </div>
  </section>
  <!--====== BREADCRUMB SECTION END ======-->
  <!--====== SHOP (PRODUCT) DETAILS STARTS ======-->
   <section class="cw-shop-section pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <div class="cw-product-des-slider">
          <div class="cw-shop-des-slider-for">
            <div class="cw-shop-des-img">
              <img src="assets/img/shop-slider-01.png" class="w-product-slider-main img-fluid mx-auto" alt="img-product">
            </div>
            <div class="cw-shop-des-img">
              <img src="assets/img/shop-slider-01.png" class="w-product-slider-main img-fluid mx-auto" alt="img-product">
            </div>
            <div class="cw-shop-des-img">
              <img src="assets/img/shop-slider-01.png" class="w-product-slider-main img-fluid mx-auto" alt="img-product">
            </div>
            <div class="cw-shop-des-img">
              <img src="assets/img/shop-slider-01.png" class="w-product-slider-main img-fluid mx-auto" alt="img-product">
            </div>
          </div>
          <div class="cw-shop-des-slider-nav">
            <div class="cw-shop-thumb-img">
              <img src="assets/img/products/shop-slider-small01.png" class="w-product-slider-thumb img-fluid" alt="img-product">
            </div>
            <div class="cw-shop-thumb-img">
              <img src="assets/img/products/shop-slider-small01.png" class="w-product-slider-thumb img-fluid" alt="img-product">
            </div>
            <div class="cw-shop-thumb-img">
              <img src="assets/img/products/shop-slider-small01.png" class="w-product-slider-thumb img-fluid" alt="img-product">
            </div>
            <div class="cw-shop-thumb-img">
              <img src="assets/img/products/shop-slider-small01.png" class="w-product-slider-thumb img-fluid" alt="img-product">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-7">
        <div class="cw-product-des-wrapper">
          <div class="cw-shop-details-container hybrid">
            <div class="cw-shop-details-title-wrapper">
              <!-- <div class="cw-product-meta-icon">
                <span class="strain-type"></span>
                <span class="strain-name">-Indica-</span>
              </div> -->
              <!-- <div class="cw-shop-product-review-star">
                <div class="rating-star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i> 5.54
                  <span class="cw-primary-color">(5k Reviews)</span>
                </div>
              </div> -->
              <div class="cw-shop-product-title">
                <h3>hello <span class="cw-product-tag">helo</span></h3>
                <p class="des-text">helo</p>

                <div class="cw-shop-product-meta">
                  <div class="cw-shop-product-meta-content">
                    <!-- <div class="cw-product-stock">
                      <p>Avability: </p>
                      <p class="cw-instock">In Stock</p>
                    </div> -->
                    <!-- <div class="cw-product-price">
                      <p>Price: </p>
                      <p class="cw-offer-price" *ngIf="product.productDiscountAvailability" >${{product.productDiscountPrice}} <span class="cw-price-strike"> {{product.productPrice}}</span></p>
                      <p class="cw-offer-price" *ngIf="!product.productDiscountAvailability" >${{product.productPrice}} </p>
                    </div> -->
                  </div>
                  <!-- <div class="cw-product-qty">
                    <div class="cw-order-qty">
                      <p>Quantity</p>
                      <div class="input-group">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-left-minus btn btn-number" data-type="minus" data-field="">
                            <i class="fa fa-minus"></i>
                          </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                        <span class="input-group-btn">
                          <button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="">
                            <i class="fa fa-plus"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="dropdown cw-unit">
                      <p>Unit</p>
                      <button type="button" id="weight-btn" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ounces</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item weight-btn-2" data-unit="g" href="#">Grams</a>
                        <a class="dropdown-item weight-btn-2" data-unit="oz" href="#">Ounces</a>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="cw-shop-product-action">
                  <div class="cw-product-btn">
                    <button class="main-btn btn-filled"  >Add To Cart</button>
                  </div>
                  <!-- <div class="cw-shop-product-share">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                  </div> -->
                </div>
                <div class="cw-shop-product-bottom-meta">
                  <!-- <div class="cw-shop-tags-meta">
                    <span><strong>Tags:</strong>
                      <a href="#">concentrates, </a>
                      <a href="#">weefly</a>
                    </span>
                  </div> -->
                  <!-- <div class="cw-shop-catg-meta">
                    <span><strong>Category:</strong>
                      <a href="#">accessories</a>
                    </span>
                  </div> -->
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="product-product-features pb-0">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="product-product-effects product-margin-30">
                <h5>Effects</h5>
                <div class="product-product-effects-inner">
                  <div class="progress">
                    <div class="progress-bar  active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                    </div>
                  </div>
                  <span class="product-product-effect-title">
                    Happy(64)
                  </span>
                </div>
                <div class="product-product-effects-inner">
                  <div class="progress">
                    <div class="progress-bar  active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                    </div>
                  </div>
                  <span class="product-product-effect-title">
                    Relaxed(15)
                  </span>
                </div>
                <div class="product-product-effects-inner">
                  <div class="progress">
                    <div class="progress-bar  active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    </div>
                  </div>
                  <span class="product-product-effect-title">
                    Euphoric(60)
                  </span>
                </div>
                <div class="product-product-effects-inner">
                  <div class="progress">
                    <div class="progress-bar  active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    </div>
                  </div>
                  <span class="product-product-effect-title">
                    Unlifted(50)
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="product-product-flavors product-margin-30">
                <h5>Character</h5>
                <div class="product-flavors-align">
                  <div class="product-flavors-type">
                    <img src="assets/img/marijuana.svg">
                    <p>Voriety</p>
                  </div>
                  <div class="product-flavors-type">
                    <img src="assets/img/bong.svg">
                    <p>Mildness</p>
                  </div>
                  <div class="product-flavors-type">
                    <img src="assets/img/shovel.svg">
                    <p>Earthy</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="product-product-flavors">
                <h5>Flavors</h5>
                <div class="product-flavors-align">
                  <div class="product-flavors-type">
                    <img src="assets/img/grape.svg">
                    <p>Blueberry</p>
                  </div>
                  <div class="product-flavors-type">
                    <img src="assets/img/mango.svg">
                    <p>Mango</p>
                  </div>
                  <div class="product-flavors-type">
                    <img src="assets/img/candy.svg">
                    <p>Sweet</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== SHOP (PRODUCT) DETAILS ENDS ======-->

<section class="py-0 pt-120 pb-120">
  <div class="container">
    <div class="cw-product-des-details">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Specifications</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Reviews (1)</a>
            </li> -->
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="cw-shop-product-des">
                <!-- <p> {{product.productDescription}} -->
                <!-- </p> -->
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="cw-shop-product-spec-table">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th>THC:</th>
                      <td>22%</td>
                    </tr>
                    <tr>
                      <th>TYPE:</th>
                      <td>Sativa</td>
                    </tr>
                    <tr>
                      <th>CBD</th>
                      <td>3%</td>
                    </tr>
                    <tr>
                      <th>WEIGHT</th>
                      <td>1 g, 1/2, 1/4, 1/8, joint, OZ</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div class="tab-pane fade blog-details-box" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="comment-template">
                          <h3 class="box-title">03 Reviews</h3>
                          <ul class="comments-list mb-40">
                              <li>
                                  <div class="comment-img">
                                      <img src="assets/img/details/comment-1.jpg" alt="img">
                                  </div>
                                  <div class="comment-desc">
                                      <div class="desc-top">
                                          <h6>Rosalina Kelian</h6>
                                          <div class="rating-star">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                          </div>
                                          <a href="#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                      </div>
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                          consequat.
                                      </p>
                                  </div>
                                  <ul class="children">
                                      <li>
                                          <div class="comment-img">
                                              <img src="assets/img/details/comment-2.jpg" alt="img">
                                          </div>
                                          <div class="comment-desc">
                                              <div class="desc-top">
                                                  <h6>Rosalina Kelian</h6>
                                                  <div class="rating-star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                  </div>
                                                  <a href="#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                              </div>
                                              <p>
                                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                  ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                  aliquip ex ea commodo consequat.
                                              </p>
                                          </div>
                                      </li>
                                  </ul>
                              </li>
                              <li>
                                  <div class="comment-img">
                                      <img src="assets/img/details/comment-3.jpg" alt="img">
                                  </div>
                                  <div class="comment-desc">
                                      <div class="desc-top">
                                          <h6>Rosalina Kelian</h6>
                                          <div class="rating-star">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                          </div>
                                          <a href="#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                      </div>
                                      <p>
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                          consequat.
                                      </p>
                                  </div>
                              </li>
                          </ul>
                          <h3 class="box-title">Add Your Review</h3>
                          <div class="comment-form">
                              <form action="#">
                                  <div class="input-group textarea mb-20">
                                      <textarea placeholder="Type your comments...."></textarea>
                                      <div class="icon"><i class="fas fa-pen"></i></div>
                                  </div>
                                  <div class="input-group mb-20">
                                      <input type="text" placeholder="Type your Name....">
                                      <div class="icon"><i class="fas fa-user"></i></div>
                                  </div>
                                  <div class="input-group mb-20">
                                      <input type="email" placeholder="Type your email....">
                                      <div class="icon"><i class="fas fa-envelope"></i></div>
                                  </div>
                                  <div class="input-group mt-30">
                                      <button type="submit" class="main-btn btn-filled"><i
                                              class="far fa-comments"></i> Post Comment</button>
                                  </div>
                              </form>
                          </div>
                      </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container my-5">
  <div class="featuredProducts text-center">
    <h1>Featured Products</h1>
  </div>
  <div class="row">
    <div class="col-3" *ngFor="let product of theProducts | paginate: { 
    itemsPerPage: 8,
    currentPage: p,
    totalItems: count }">
      <div class="products">
        <div class="container page-wrapper">
          <div class="page-inner">
            <div class="row">
              <div class="el-wrapper">
                <div class="box-up">
                  <img class="img" [src]="product.image" alt="">
                  <div class="img-info">
                    <div class="info-inner">
                      <span class="p-name">{{product.name}}</span>
                      <span class="p-company">{{product.model}}</span>
                    </div>
                    <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                  </div>
                </div>
        
                <div class="box-down">
                  <div class="h-bg">
                    <div class="h-bg-inner"></div>
                  </div>
        
                  <a class="cart" href="#">
                    <span class="price">{{product.price}}</span>
                    <span class="add-to-cart">
                      <span class="txt">Add in cart</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


   




    
  </div>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="pageChanged($event)" 
 
    previousLabel="Prev"
    nextLabel="Next"
                        ></pagination-controls>
  </div>


  
</div>
<!--====== FEATURED PRODUCT STARTS ======-->
<!-- <section class="cw-section cw-shop-section pt-120 pb-120">
  <div class="container">
    <div class="cw-section-heading-wrapper">
      <div class="cw-section-heading">
        <h3 class="wow fadeIn">Featured Products</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="cw-shop-product-bottom-arrow">
          <div class="cw-product-bottom-left-arrow">
            <span><i class="fas fa-chevron-left"></i></span>
          </div>
          <div class="cw-product-bottom-right-arrow">
            <span><i class="fas fa-chevron-right"></i></span>
          </div>
        </div>
        <div class="slider-shop-accer">



          <div class="slick-list draggable">
<div clas="slick-track" style="opacity: 1; width: 285px; transform: translate3d(0px, 0px, 0px);">

  <div class="slider-product-wrapper" *ngFor="let p of theProducts">
    <div class="product-grid">
      <div class="product-image4">
        <a href="#">
          <img class="pic-1" src="assets/img/products/slider-pro1.png" alt="img">
        </a>
        <ul class="social">
          <li><a href="#" data-toggle="modal" data-target="#quickViewSnap" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
          <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li><a href="#" data-tip="Add to Favourite"><i class="fas fa-heart"></i></a></li>
        </ul>
      </div>
      <div class="product-content cw-shop-asser">
        <h5 class="title">
          <a href="#">
            {{p.name}}
          </a>
        </h5>
        <div class="price">
          $14.40
        </div>
        <a class="add-to-cart" href="#">ADD TO CART</a>
      </div>
    </div>
  </div>
  
</div>
          </div>


       <div class="slider-product-wrapper" >
            <div class="product-grid">
              <div class="product-image4">
                <a href="#">
                  <img class="pic-1" src="assets/img/products/slider-pro3.png" alt="img">
                </a>
                <ul class="social">
                  <li><a href="#" data-toggle="modal" data-target="#quickViewSnap" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                  <li><a href="#" data-tip="Add to Favourite"><i class="fas fa-heart"></i></a></li>
                </ul>
              </div>
              <div class="product-content cw-shop-asser">
                <h5 class="title">
                  <a href="#">helo</a>
                </h5>
                <div class="price">
                 heo
                </div>
                <a class="add-to-cart" href="#">ADD TO CART</a>
              </div>
            </div>
          </div>
<!--
         <div class="slider-product-wrapper">
            <div class="product-grid">
              <div class="product-image4">
                <a href="#">
                  <img class="pic-1" src="assets/img/products/slider-pro3.png" alt="img">
                </a>
                <ul class="social">
                  <li><a href="#" data-toggle="modal" data-target="#quickViewSnap" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                  <li><a href="#" data-tip="Add to Favourite"><i class="fas fa-heart"></i></a></li>
                </ul>
              </div>
              <div class="product-content cw-shop-asser">
                <h5 class="title">
                  <a href="#">Crusher</a>
                </h5>
                <div class="price">
                  $14.40
                </div>
                <a class="add-to-cart" href="#">ADD TO CART</a>
              </div>
            </div>
          </div>
          <!--

          <div class="slider-product-wrapper">
            <div class="product-grid">
              <div class="product-image4">
                <a href="#">
                  <img class="pic-1" src="assets/img/products/slider-pro4.png" alt="img">
                </a>
                <ul class="social">
                  <li><a href="#" data-toggle="modal" data-target="#quickViewSnap" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                  <li><a href="#" data-tip="Add to Favourite"><i class="fas fa-heart"></i></a></li>
                </ul>
              </div>
              <div class="product-content cw-shop-asser">
                <h5 class="title">
                  <a href="#">Attachments</a>
                </h5>
                <div class="price">
                  $14.40
                </div>
                <a class="add-to-cart" href="#">ADD TO CART</a>
              </div>
            </div>
          </div>

          <div class="slider-product-wrapper">
            <div class="product-grid">
              <div class="product-image4">
                <a href="#">
                  <img class="pic-1" src="assets/img/products/slider-pro5.png" alt="img">
                </a>
                <ul class="social">
                  <li><a href="#" data-toggle="modal" data-target="#quickViewSnap" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                  <li><a href="#" data-tip="Add to Favourite"><i class="fas fa-heart"></i></a></li>
                </ul>
              </div>
              <div class="product-content cw-shop-asser">
                <h5 class="title">
                  <a href="#">Compresser</a>
                </h5>
                <div class="price">
                  $14.40
                </div>
                <a class="add-to-cart" href="#">ADD TO CART</a>
              </div>
            </div>
          </div>

          <div class="slider-product-wrapper">
            <div class="product-grid">
              <div class="product-image4">
                <a href="#">
                  <img class="pic-1" src="assets/img/products/slider-pro6.png" alt="img">
                </a>
                <ul class="social">
                  <li><a href="#" data-toggle="modal" data-target="#quickViewSnap" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                  <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                  <li><a href="#" data-tip="Add to Favourite"><i class="fas fa-heart"></i></a></li>
                </ul>
              </div>
              <div class="product-content cw-shop-asser">
                <h5 class="title">
                  <a href="#">Bong</a>
                </h5>
                <div class="price">
                  $14.40
                </div>
                <a class="add-to-cart" href="#">ADD TO CART</a>
              </div>
            </div>
          </div> 

        </div>
      </div>
    </div>
  </div>

</section> -->

<!-- ====== FEATURED PRODUCT ENDS ====== -->
