<!-- <p style="text-align: center;">varient works!</p> -->
<form [formGroup]="productData" (ngSubmit)="saveProduct()" class="needs-validation">
    <div class="form">
        <div class="form-group">
            <label for="validationCustom01" class="mb-1">Product Name</label>
            <input formControlName="name" class="form-control" id="validationCustom01" type="text">
        </div>
        <div class="form-group">
            <label for="validationCustom01" class="mb-1">description</label>
            <input formControlName="description" class="form-control" id="validationCustom01" type="text">
        </div>
        <div class="form-group">
            <label for="validationCustom01" class="mb-1">Varient Name</label>
            <input formControlName="price" class="form-control" id="validationCustom01" type="number">
        </div>
        <div class="form-group">
            <label for="validationCustom01" class="mb-1">Varient Name</label>
            <input formControlName="stock" class="form-control" id="validationCustom01" type="number">
        </div>
        <div class="form-group">
            <label for="validationCustom01" class="mb-1">Varient Name</label>
            <input (ngvalue)="file" (change)="selectFile($event)" class="form-control" id="validationCustom01" type="file">
        </div>
        <!-- <div class="form-group">
        <select formControlName="varient" *ngFor="let v of varients;" size="3" class="form-control" aria-label="size 3 select example"> -->
            <!-- <option selected>Open this select menu</option> -->
            <!-- <option value="v.id">{{v.varientName}}</option>
          </select>
        </div> -->
        <img src="{{product.image}}" alt="Girl in a jacket" width="500" height="600">
        <button type="submit"class="btn btn-primary btn-block">Submit</button>
    </div>
</form>
